<section class="section-heading">
  <h1 class="title">Todo with biyytruc</h1>
  <div class="add-todo-box">
    <form #form="ngForm" (ngSubmit)="onTodoSubmit(form)">
      <h4 class="label">New Todo</h4>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input
            ngModel
            #todoText="ngModel"
            name="text"
            required
            class="input is-small"
            type="text"
            placeholder="Type todo text here ..."
          />
        </p>
        <p class="control">
          <button type="submit" class="button btn-add is-small">
            <i class="material-icons add-icon">add</i>
            Add
          </button>
        </p>
      </div>
      <div>
        <p
          class="error-mess"
          *ngIf="!!showInvalidMess && todoText.errors?.required"
        >
          Please enter your todo!
        </p>
      </div>
    </form>
  </div>
</section>

<section class="section-body">
  <div class="todos-list">
    <app-todo-item
      *ngFor="let todo of todos; index as i"
      [todo]="todo"
      (todoClicked)="setCompleted(todo)"
      (editTodo)="editTodo(i)"
    ></app-todo-item>
  </div>
</section>
