<section class="section-heading">
  <h4 class="title">Todo with YZL</h4>
  <div class="add-todo-box">
    <form>
      <h2 class="label is-5">New Todo</h2>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input is-small" type="text" placeholder="Type todo text here ...">
        </p>
        <p class="control">
          <button class="button btn-add is-small">
            <i class="material-icons add-icon">add</i>
            Add
          </button>
        </p>
      </div>
    </form>
  </div>
</section>
